h3 {
  display: flex;
  justify-content: center;
  font-family: proxima-nova-regular;
  color: #474747;
  /* margin-top: 30px; */
}

@font-face {
  font-family: proxima-nova-regular;
  src: url("../assets/fonts/ProximaNova-Regular.ttf");
}
/* html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  height: 100%;
  min-height: 510px;
  /* max-height: 900px; */
  /* max-width: 700px; */
}

/* id */
#imagem {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 225px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vitrine {
  flex: 2;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}
#imagem2 {
  /* margin-top: 30px; */
  width: 100%;
  object-fit: contain;
}
#iconeG {
  display: flex;
}
#iconeA {
  display: flex;
}

#google {
  max-width: 150px;
}

#box {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

.icon {
  object-fit: contain;
  max-width: 80%;
}

.button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 100;
  max-width: 400px;
}
