<table
  cellpadding="0"
  width="100%"
  cellspacing="0"
  border="0"
  style="table-layout:fixed;background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;"
>
  <tbody>
    <tr>
      <td
        cellpadding="0"
        cellspacing="0"
        border="0"
        valign="middle"
        style="border-left:none;border-top:none;border-bottom:none;padding-right:7px;border-right:solid 3px;border-color:#4fc44f;width:119px;"
      >
        <img
          style="width:119px;border-radius:50%;"
          src="https://www.designhill.com/uploads/data/email-signature-img/thumb_9ljsslht6mh2f6812g5905pre0_5d666d1d0e6e3_1566993693.png"
        />
      </td>
      <td
        cellpadding="0"
        cellspacing="0"
        border="0"
        valign="top"
        style="padding-left:7px;"
      >
        <table>
          <tbody>
            <tr>
              <td colspan="2" style="padding-bottom:1px;font-weight: 600;">
                <span
                  style="color:#4fc44f;font-family:Verdana, sans-serif;font-size:16px;"
                  >Raffael</span
                >
                <span
                  style="color:#4fc44f;font-family:Verdana, sans-serif;font-size:16px;"
                  >Marfará</span
                >
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                style="line-height:1.4;padding-bottom:5px;color:#474747;font-family:Verdana, sans-serif;font-size:12px; line-height: 1;font-weight: 600;"
              >
                Co-Founder
              </td>
            </tr>
            <tr>
              <td colspan="2" style="line-height:1.4;">
                <span
                  style="font-family:Verdana, sans-serif;color:#474747;font-size:12px;margin-right:10px;"
                  >11 97299-5500</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2" style="line-height:1.4;">
                <span
                  style="color:#474747;font-family:Verdana, sans-serif;font-size:12px;margin-right:10px;"
                  >R. Fidêncio Ramos, 100 - 8º andar</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2" style="line-height:1.4;">
                <a
                  style="text-decoration:none;cursor:pointer;display:inline-block;"
                  target="_blank"
                  href="https://www.hupper.life"
                  ><span
                    style="font-family:Verdana, sans-serif;color:#1da1db;font-size:12px;margin-right:10px;"
                    >www.hupper.life</span
                  ></a
                >
              </td>
            </tr>
            <tr>
              <td colspan="2" style="line-height:1.4;">
                <a
                  style="text-decoration:none;cursor:pointer;display:inline-block;"
                  target="_blank"
                  href="mailto:r.marfara@hupper.life"
                  ><span
                    style="font-family:Verdana, sans-serif;color:#1da1db;font-size:12px;margin-right:10px;"
                    >r.marfara@hupper.life</span
                  ></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
