/*ORIGINAIS BULMA*/

.navbar-item img {
  max-height: 3.75rem;
}

/*HUPPER*/

.max-width-div-hupper {
  max-width: 1500px;
  margin: auto;
}

.znavbar-height {
  min-height: 3.75rem;
}

.navbar-max-width-hupper {
  max-width: 1500px;
  margin: auto;
}

.navbar-logo-padding-left-hupper {
  padding-left: 6vw;
}

.max-width-logo-hupper {
  max-width: 220px;
}

.navbar-start-padding-right-hupper {
  padding-right: 10px;
}

.navbar-end-padding-right-hupper {
  padding-right: 100px;
}

.has-backgound-primary-color-hupper {
  background-color: #4fc44f;
}

.has-backgound-secondary-hupper {
  background-color: #1995fc;
}

.burger-color-hupper {
  color: #fff;
}

.text-color-white-hupper {
  color: #fff;
}

.button-login-hupper {
  border-width: 2px;
  padding: 5px 20px;
  border-color: #fff;
  height: 35px;
}

.button-login-hupper:hover {
  background-color: white;
  color: #474747;
  border-color: white;
}

.button-navbar-hupper {
  color: white;
}

.button-navbar-hupper:hover {
  color: white;
  font-family: proxima-nova-bold;
}

.first-section-height-hupper {
  height: 85vh;
  max-height: 700px;
}

.first-section-div-height-hupper {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.column-full-height-hupper {
  height: 100%;
}

.div-test-image-hupper {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.align-bottom-hupper {
  align-items: baseline;
}

.first-page-image-width {
  width: 800px;
  max-width: 60vw;
}

.second-section-div-height-hupper {
  height: 1000px;
  width: 100vw;
}

.div-image-hupper {
  width: 60%;
  height: 100%;
}

.div-first-page-wrap-hupper {
  width: 40vw;
  height: 100%;
}

.div-first-page-text-hupper {
  width: 40vw;
  max-width: 700px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 6vw;
}

.main-text-hupper {
  font-family: proxima-nova-semi-bold;
  color: white;
  font-size: 48px;
  line-height: calc(53 / 48);
  margin-bottom: 8px;
}

.main-sub-text-hupper {
  font-family: proxima-nova-regular;
  color: white;
  font-size: 24px;
  line-height: calc(30 / 24);
}

.div-inline-buttons-hupper {
  float: left;
}

.button-padding-hupper {
  padding-top: 20px;
}

.button-padding-right-hupper {
  margin-right: 30px;
}

.main-first-button-hupper {
  font-family: proxima-nova-semi-bold;
  color: #474747;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1.73px;
}

.main-first-button-hupper:hover {
  font-family: proxima-nova-semi-bold;
  color: #474747;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1.73px;
}

.main-second-button-hupper {
  font-family: proxima-nova-bold;
  color: #fff;
  background-color: #4fc44f;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1.73px;
  border-width: 3px;
  border-color: white;
}

.main-second-button-hupper:hover {
  font-family: proxima-nova-bold;
  color: #474747;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1.73px;
  border-color: white;
}

.float-arrow-hupper {
  float: left;
  position: relative;
  left: 50%;
  top: 25px;
}

.wrap-section-hupper {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.arrow-fixed-top-hupper {
  position: absolute;
  top: 0px;
  left: 50%;
  height: 100px;
  widows: 100px;
}

.first-right-page-text-hupper {
  width: 40vw;
  max-width: 600px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 4vw;
  right: 0px;
  margin-top: 25px;
}

.first-left-screen-image-hupper {
  width: 60vw;
  max-width: 1000px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  margin-top: 25px;
}

.secondary-text-left-hupper {
  font-family: proxima-nova-semi-bold;
  color: #1995fc;
  font-size: 42px;
  line-height: calc(47 / 42);
  margin-bottom: 8px;
  letter-spacing: 0.84px;
  text-align: left;
}

.secondary-sub-text-left-hupper {
  font-family: proxima-nova-regular;
  color: #474747;
  font-size: 19px;
  line-height: calc(28 / 19);
  letter-spacing: 0.79px;
  text-align: left;
}

.secondary-text-right-hupper {
  font-family: proxima-nova-semi-bold;
  color: #1995fc;
  font-size: 42px;
  line-height: calc(47 / 42);
  margin-bottom: 8px;
  letter-spacing: 0.84px;
  text-align: right;
}

.secondary-sub-text-right-hupper {
  font-family: proxima-nova-regular;
  color: #474747;
  font-size: 19px;
  line-height: calc(28 / 19);
  letter-spacing: 0.79px;
  text-align: right;
}

.left-page-text-hupper {
  width: 40vw;
  max-width: 650px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 4vw;
  left: 0px;
}

.second-right-screen-image-hupper {
  width: 55vw;
  max-height: 750px;
  max-width: 1000px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
}

.second-right-screen-image-position-hupper {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
}

.right-page-text-hupper {
  width: 40vw;
  max-width: 600px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 4vw;
  right: 0px;
}

.second-left-screen-image-hupper {
  width: 55vw;
  max-height: 750px;
  max-width: 1000px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
}

.titulo-hupper {
  font-family: proxima-nova-extra-bold;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 12px;
}

.send-button-hupper {
  font-family: proxima-nova-semi-bold;
  color: #474747;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.23);
  height: 40px;
  letter-spacing: 1.73px;
  border-radius: 12px;
  margin-top: 5px;
}

.send-button-hupper:hover {
  font-family: proxima-nova-semi-bold;
  color: #474747;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 40px;
  letter-spacing: 1.73px;
  border-radius: 12px;
  margin-top: 5px;
}

/* FONTES*/

.font-family-primary-semibold-hupper {
  font-family: proxima-nova-semi-bold;
}

.font-family-primary-regular-hupper {
  font-family: proxima-nova-regular;
}

.font-family-primary-bold-hupper {
  font-family: proxima-nova-bold;
}

.font-family-primary-thin-hupper {
  font-family: proxima-nova-thin;
}

.font-family-primary-extra-bold-hupper {
  font-family: proxima-nova-extra-bold;
}

.max-height-image-hupper {
  max-height: 700px;
}

.contact-wrap-div-hupper {
  padding-bottom: 20px;
  padding-top: 20px;
}

.label-hupper {
  font-family: proxima-nova-semi-bold;
  color: #fff;
  font-size: 16px;
}

.control-margin-hupper {
  padding-bottom: 8px;
}

/*mobile*/
.div-first-page-wrap-mobile-hupper {
  width: 100%;
  height: 100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 7%;
}

.div-first-page-text-mobile-hupper {
  width: 100%;
  height: auto;
  margin: 0;
}

.main-text-mobile-hupper {
  font-family: proxima-nova-bold;
  color: white;
  font-size: 34px;
  margin-bottom: 12px;
  line-height: calc(35 / 34);
  text-align: center;
}

.main-sub-text-mobile-hupper {
  font-family: proxima-nova-regular;
  color: white;
  font-size: 20px;
  line-height: calc(25 / 20);
  text-align: center;
}

.main-first-button-mobile-hupper {
  font-family: proxima-nova-semi-bold;
  font-size: 16px;
  color: #474747;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1px;
}

.main-first-button-mobile-hupper:hover {
  font-family: proxima-nova-semi-bold;
  font-size: 16px;
  color: #474747;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1px;
}

.main-second-button-mobile-hupper {
  font-family: proxima-nova-bold;
  font-size: 16px;
  color: #fff;
  background-color: #4fc44f;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1px;
  border-width: 3px;
  border-color: white;
}

.main-second-button-mobile-hupper:hover {
  font-family: proxima-nova-bold;
  font-size: 16px;
  color: #474747;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 45px;
  letter-spacing: 1px;
  border-color: white;
}

.button-wrap-mobile-hupper {
  padding-top: 20px;
  text-align: center;
}

.div-center-buttons-mobile-hupper {
  display: inline-block;
}

.button-margin-right-mobile-hupper {
  margin-right: 0px;
}

.first-section-height-mobile-hupper {
  height: auto;
}

.first-screen-image-mobile-hupper {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 15px;
}

.float-arrow-mobile-hupper {
  display: inline-block;
  padding-top: 20px;
}

.first-page-text-mobile-hupper {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 50px;
}

.first-page-text-mobile-2-hupper {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 10px;
}

.secondary-text-mobile-hupper {
  font-family: proxima-nova-semi-bold;
  color: #1995fc;
  font-size: 32px;
  line-height: calc(35 / 32);
  margin-bottom: 8px;
  letter-spacing: 0.56px;
  text-align: center;
}

.secondary-sub-text-mobile-hupper {
  font-family: proxima-nova-regular;
  color: #474747;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.79px;
  text-align: center;
}

.contact-form-mobile-hupper {
  margin-left: 15px;
  margin-right: 15px;
}

.contact-wrap-div-mobile-hupper {
  padding-bottom: 20px;
  padding-top: 20px;
}

.titulo-mobile-hupper {
  font-family: proxima-nova-extra-bold;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

@font-face {
  font-family: proxima-nova-regular;
  src: url("./assets/fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: proxima-nova-semi-bold;
  src: url("./assets/fonts/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: proxima-nova-bold;
  src: url("./assets/fonts/ProximaNova-Bold.ttf");
}

@font-face {
  font-family: proxima-nova-thin;
  src: url("./assets/fonts/ProximaNova-Thin.ttf");
}

@font-face {
  font-family: proxima-nova-extra-bold;
  src: url("./assets/fonts/ProximaNova-Extrabld.ttf");
}
