body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 48px 0px 146px 113px;padding: 0px;border: none;width: 681px;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:567px;height:33px;}
#page_1 #p1dimg1 #p1img1 {width:567px;height:33px;}




#page_2 {position:relative; overflow: hidden;margin: 48px 0px 94px 113px;padding: 0px;border: none;width: 681px;}

#page_2 #p2dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:567px;height:914px;}
#page_2 #p2dimg1 #p2img1 {width:567px;height:914px;}




#page_3 {position:relative; overflow: hidden;margin: 48px 0px 94px 113px;padding: 0px;border: none;width: 681px;}

#page_3 #p3dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:567px;height:914px;}
#page_3 #p3dimg1 #p3img1 {width:567px;height:914px;}




#page_4 {position:relative; overflow: hidden;margin: 48px 0px 108px 28px;padding: 0px;border: none;width: 738px;}

#page_4 #p4dimg1 {position:absolute;top:0px;left:85px;z-index:-1;width:567px;height:33px;}
#page_4 #p4dimg1 #p4img1 {width:567px;height:33px;}




#page_5 {position:relative; overflow: hidden;margin: 48px 0px 108px 28px;padding: 0px;border: none;width: 738px;}

#page_5 #p5dimg1 {position:absolute;top:0px;left:85px;z-index:-1;width:567px;height:33px;}
#page_5 #p5dimg1 #p5img1 {width:567px;height:33px;}




#page_6 {position:relative; overflow: hidden;margin: 48px 0px 101px 28px;padding: 0px;border: none;width: 766px;}

#page_6 #p6dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:738px;height:93px;}
#page_6 #p6dimg1 #p6img1 {width:738px;height:93px;}




#page_7 {position:relative; overflow: hidden;margin: 48px 0px 157px 113px;padding: 0px;border: none;width: 681px;}

#page_7 #p7dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:567px;height:33px;}
#page_7 #p7dimg1 #p7img1 {width:567px;height:33px;}




#page_8 {position:relative; overflow: hidden;margin: 48px 0px 148px 113px;padding: 0px;border: none;width: 681px;}

#page_8 #p8dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:567px;height:33px;}
#page_8 #p8dimg1 #p8img1 {width:567px;height:33px;}




#page_9 {position:relative; overflow: hidden;margin: 48px 0px 505px 113px;padding: 0px;border: none;width: 681px;}

#page_9 #p9dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:567px;height:33px;}
#page_9 #p9dimg1 #p9img1 {width:567px;height:33px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 20px 'Garamond';text-decoration: underline;line-height: 22px;}
.ft1{font: 17px 'Garamond';line-height: 19px;}
.ft2{font: bold 17px 'Garamond';line-height: 19px;}
.ft3{font: bold 17px 'Garamond';text-decoration: underline;line-height: 21px;}
.ft4{font: bold 17px 'Garamond';line-height: 21px;}
.ft5{font: italic 17px 'Garamond';line-height: 21px;}
.ft6{font: 17px 'Garamond';line-height: 21px;}
.ft7{font: italic 17px 'Garamond';line-height: 19px;}
.ft8{font: 17px 'Garamond';text-decoration: underline;color: #0563c1;line-height: 19px;}
.ft9{font: bold 17px 'Garamond';color: #70ad47;line-height: 19px;}
.ft10{font: bold 17px 'Garamond';text-decoration: underline;color: #70ad47;margin-left: 36px;line-height: 19px;}
.ft11{font: bold 17px 'Garamond';text-decoration: underline;color: #70ad47;line-height: 19px;}
.ft12{font: 17px 'Garamond';margin-left: 24px;line-height: 21px;}
.ft13{font: 17px 'Garamond';margin-left: 24px;line-height: 20px;}
.ft14{font: 17px 'Garamond';line-height: 20px;}
.ft15{font: 17px 'Times New Roman';line-height: 19px;}
.ft16{font: bold 17px 'Garamond';text-decoration: underline;color: #1d242c;margin-left: 16px;line-height: 21px;}
.ft17{font: 17px 'Garamond';color: #1d242c;line-height: 21px;}
.ft18{font: bold 17px 'Garamond';color: #1d242c;line-height: 21px;}
.ft19{font: bold 17px 'Garamond';text-decoration: underline;color: #1d242c;margin-left: 16px;line-height: 20px;}
.ft20{font: 17px 'Garamond';color: #1d242c;line-height: 20px;}
.ft21{font: bold 17px 'Garamond';color: #1d242c;line-height: 20px;}
.ft22{font: italic 17px 'Garamond';color: #1d242c;line-height: 20px;}
.ft23{font: italic 17px 'Garamond';line-height: 20px;}
.ft24{font: italic 11px 'Garamond';line-height: 13px;}
.ft25{font: bold 17px 'Garamond';text-decoration: underline;margin-left: 16px;line-height: 19px;}
.ft26{font: 17px 'Courier New';line-height: 20px;}
.ft27{font: 17px 'Garamond';margin-left: 13px;line-height: 19px;}
.ft28{font: 9px 'Garamond';line-height: 10px;}
.ft29{font: italic 13px 'Garamond';margin-left: 4px;line-height: 15px;}
.ft30{font: italic 13px 'Garamond';line-height: 15px;}
.ft31{font: 13px 'Garamond';line-height: 15px;}
.ft32{font: bold 17px 'Garamond';margin-left: 24px;line-height: 21px;}
.ft33{font: bold 17px 'Garamond';text-decoration: underline;color: #70ad47;margin-left: 35px;line-height: 19px;}
.ft34{font: italic 11px 'Garamond';line-height: 14px;}
.ft35{font: 17px 'Garamond';color: #1d242c;line-height: 19px;}
.ft36{font: 17px 'Garamond';color: #1d242c;margin-left: 24px;line-height: 21px;}
.ft37{font: bold 17px 'Garamond';margin-left: 11px;line-height: 22px;}
.ft38{font: bold 17px 'Garamond';text-decoration: underline;line-height: 22px;}
.ft39{font: 17px 'Garamond';line-height: 22px;}
.ft40{font: 1px 'Garamond';line-height: 1px;}
.ft41{font: bold 13px 'Garamond';color: #ffffff;line-height: 14px;}
.ft42{font: 1px 'Garamond';line-height: 7px;}
.ft43{font: 1px 'Garamond';line-height: 8px;}
.ft44{font: 13px 'Garamond';line-height: 14px;}
.ft45{font: bold 13px 'Garamond';line-height: 14px;}
.ft46{font: bold 13px 'Garamond';color: #1d242c;line-height: 14px;}
.ft47{font: 13px 'Garamond';color: #1d242c;line-height: 14px;}
.ft48{font: italic 13px 'Garamond';line-height: 14px;}
.ft49{font: italic 13px 'Garamond';color: #1d242c;line-height: 14px;}
.ft50{font: 12px 'Garamond';line-height: 13px;}
.ft51{font: italic 12px 'Garamond';line-height: 13px;}
.ft52{font: 13px 'Garamond';line-height: 16px;}
.ft53{font: bold 17px 'Garamond';text-decoration: underline;color: #70ad47;margin-left: 34px;line-height: 19px;}
.ft54{font: bold 17px 'Garamond';text-decoration: underline;margin-left: 24px;line-height: 21px;}
.ft55{font: 17px 'Garamond';margin-left: 24px;line-height: 19px;}
.ft56{font: 17px 'Garamond';color: #1d242c;margin-left: 24px;line-height: 19px;}
.ft57{font: italic 17px 'Garamond';color: #1d242c;line-height: 19px;}
.ft58{font: bold 17px 'Garamond';text-decoration: underline;line-height: 19px;}
.ft59{font: bold 17px 'Garamond';text-decoration: underline;line-height: 20px;}

.p0{text-align: left;padding-left: 100px;margin-top: 47px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 23px;margin-bottom: 0px;}
.p2{text-align: justify;padding-right: 113px;margin-top: 23px;margin-bottom: 0px;}
.p3{text-align: justify;padding-right: 114px;margin-top: 19px;margin-bottom: 0px;}
.p4{text-align: justify;padding-right: 114px;margin-top: 23px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 39px;margin-bottom: 0px;}
.p6{text-align: justify;padding-left: 48px;padding-right: 113px;margin-top: 23px;margin-bottom: 0px;text-indent: -48px;}
.p7{text-align: left;padding-left: 48px;padding-right: 113px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p8{text-align: justify;padding-left: 96px;padding-right: 114px;margin-top: 47px;margin-bottom: 0px;text-indent: -24px;}
.p9{text-align: justify;padding-left: 96px;padding-right: 113px;margin-top: 17px;margin-bottom: 0px;text-indent: -24px;}
.p10{text-align: justify;padding-left: 96px;padding-right: 113px;margin-top: 20px;margin-bottom: 0px;text-indent: -24px;}
.p11{text-align: justify;padding-left: 96px;padding-right: 113px;margin-top: 18px;margin-bottom: 0px;text-indent: -24px;}
.p12{text-align: left;padding-left: 72px;margin-top: 18px;margin-bottom: 0px;}
.p13{text-align: justify;padding-left: 144px;padding-right: 113px;margin-top: 24px;margin-bottom: 0px;text-indent: -24px;}
.p14{text-align: justify;padding-left: 144px;padding-right: 114px;margin-top: 20px;margin-bottom: 0px;text-indent: -23px;}
.p15{text-align: justify;padding-left: 48px;padding-right: 113px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p16{text-align: justify;padding-right: 120px;margin-top: 33px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 48px;padding-right: 114px;margin-top: 47px;margin-bottom: 0px;text-indent: -48px;}
.p18{text-align: justify;padding-left: 48px;padding-right: 114px;margin-top: 21px;margin-bottom: 0px;text-indent: -48px;}
.p19{text-align: justify;padding-left: 48px;padding-right: 114px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p20{text-align: justify;padding-left: 48px;padding-right: 113px;margin-top: 21px;margin-bottom: 0px;text-indent: -48px;}
.p21{text-align: justify;padding-left: 48px;padding-right: 109px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p22{text-align: justify;padding-right: 120px;margin-top: 40px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 133px;padding-right: 86px;margin-top: 47px;margin-bottom: 0px;}
.p24{text-align: justify;padding-left: 133px;padding-right: 86px;margin-top: 21px;margin-bottom: 0px;text-indent: -48px;}
.p25{text-align: justify;padding-left: 180px;padding-right: 86px;margin-top: 20px;margin-bottom: 0px;text-indent: -19px;}
.p26{text-align: left;padding-left: 180px;padding-right: 86px;margin-top: 21px;margin-bottom: 0px;text-indent: -19px;}
.p27{text-align: justify;padding-left: 180px;padding-right: 86px;margin-top: 21px;margin-bottom: 0px;text-indent: -19px;}
.p28{text-align: left;padding-left: 180px;padding-right: 86px;margin-top: 19px;margin-bottom: 0px;text-indent: -19px;}
.p29{text-align: justify;padding-left: 133px;padding-right: 86px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p30{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p31{text-align: left;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p32{text-align: left;padding-left: 50px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p33{text-align: left;padding-left: 72px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: left;padding-left: 46px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p35{text-align: left;padding-left: 40px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: center;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: center;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p39{text-align: center;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p40{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p41{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p42{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p43{text-align: left;padding-left: 334px;padding-right: 247px;margin-top: 62px;margin-bottom: 0px;}
.p44{text-align: left;padding-left: 85px;margin-top: 38px;margin-bottom: 0px;}
.p45{text-align: justify;padding-left: 133px;padding-right: 113px;margin-top: 23px;margin-bottom: 0px;text-indent: -48px;}
.p46{text-align: justify;padding-left: 133px;padding-right: 114px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p47{text-align: justify;padding-left: 133px;padding-right: 113px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p48{text-align: justify;padding-left: 133px;padding-right: 114px;margin-top: 21px;margin-bottom: 0px;text-indent: -48px;}
.p49{text-align: left;padding-left: 48px;padding-right: 114px;margin-top: 47px;margin-bottom: 0px;}
.p50{text-align: left;padding-left: 48px;padding-right: 114px;margin-top: 21px;margin-bottom: 0px;text-indent: -48px;}
.p51{text-align: left;margin-top: 21px;margin-bottom: 0px;}
.p52{text-align: justify;padding-left: 48px;padding-right: 114px;margin-top: 23px;margin-bottom: 0px;text-indent: -48px;}
.p53{text-align: justify;padding-left: 48px;padding-right: 113px;margin-top: 35px;margin-bottom: 0px;text-indent: -48px;}
.p54{text-align: justify;padding-left: 48px;padding-right: 114px;margin-top: 47px;margin-bottom: 0px;text-indent: -48px;}
.p55{text-align: left;margin-top: 43px;margin-bottom: 0px;}
.p56{text-align: left;padding-left: 48px;padding-right: 114px;margin-top: 22px;margin-bottom: 0px;text-indent: -48px;}
.p57{text-align: justify;padding-right: 113px;margin-top: 22px;margin-bottom: 0px;}
.p58{text-align: left;margin-top: 40px;margin-bottom: 0px;}
.p59{text-align: left;margin-top: 47px;margin-bottom: 0px;}
.p60{text-align: left;padding-left: 48px;padding-right: 114px;margin-top: 1px;margin-bottom: 0px;}

.td0{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #00b050;}
.td1{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 127px;vertical-align: bottom;background: #00b050;}
.td2{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #00b050;}
.td3{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #00b050;}
.td4{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;background: #00b050;}
.td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 232px;vertical-align: bottom;background: #00b050;}
.td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 175px;vertical-align: bottom;background: #00b050;}
.td7{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #00b050;}
.td8{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 127px;vertical-align: bottom;background: #00b050;}
.td9{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #00b050;}
.td10{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #00b050;}
.td11{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #00b050;}
.td12{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #00b050;}
.td13{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #00b050;}
.td14{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;background: #00b050;}
.td15{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 232px;vertical-align: bottom;background: #00b050;}
.td16{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 175px;vertical-align: bottom;background: #00b050;}
.td17{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 127px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td22{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 239px;vertical-align: bottom;}
.td23{padding: 0px;margin: 0px;width: 175px;vertical-align: bottom;}
.td24{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 154px;vertical-align: bottom;}
.td25{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 182px;vertical-align: bottom;}
.td26{padding: 0px;margin: 0px;width: 232px;vertical-align: bottom;}
.td27{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 134px;vertical-align: bottom;}
.td28{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td29{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 127px;vertical-align: bottom;}
.td30{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td31{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td32{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td33{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 239px;vertical-align: bottom;}
.td34{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 175px;vertical-align: bottom;}
.td35{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td36{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
.td37{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;}
.td38{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 245px;vertical-align: bottom;}
.td39{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 188px;vertical-align: bottom;}
.td40{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
.td41{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;}
.td42{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 245px;vertical-align: bottom;}
.td43{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 188px;vertical-align: bottom;}
.td44{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
.td45{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 160px;vertical-align: bottom;}
.td46{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 245px;vertical-align: bottom;}
.td47{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 188px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 23px;}
.tr2{height: 7px;}
.tr3{height: 15px;}
.tr4{height: 8px;}
.tr5{height: 14px;}
.tr6{height: 31px;}
.tr7{height: 22px;}
.tr8{height: 30px;}
.tr9{height: 29px;}

.t0{width: 738px;margin-top: 18px;font: 13px 'Garamond';}
.t1{width: 738px;margin-top: 48px;font: 13px 'Garamond';}